---
import USGSTemplate from "../layouts/USGS_template.astro";
---

<USGSTemplate>
		<link rel="stylesheet" href="../Stock/src/stylesheets/main.css">
		<div class = "title">
			<br>
			Design 1: Interactive Map
			<br><br>
		</div>
		<div id="map"></div>
		<div id = "map-interactive"></div>
		<div id = "slider-range"></div>
		<div class = "title">
			<br>
			Design 2: Cumulative Graph
			<br><br>
		</div>
		<div id = "chart"></div>
		<!-- Include the D3.js library -->
		<!-- <script src = "../scripts/data.js"></script> -->
		<script src="https://d3js.org/d3.v7.min.js"></script>
		<script src="https://unpkg.com/d3-simple-slider"></script>
		<script type="module" src = "../Stock/src/scripts/map.js"></script>
		<script type="module" src = "../Stock/src/scripts/sunburst.js"></script>
		
</USGSTemplate>
